.content{
    margin: '15px';
    background: #f0f2f5;
    border-radius: 0px;
    min-width: 90%;
    padding-left: 20px;
}
.btn-primary{
    background: #163172;
    color: white;
}
.bg-white{
    background: white;
}

.mt-2{
    margin-top: 20px;
}